@model KiranHospitalAppointmentSystem.Models.Patient


<div class="card">
    <div class="card-header">
        <h2>@Model.PatientName</h2>
    </div>
    <div class="card-body">
        <h4>@Model.PatientHistory</h4>
        <h4>@Model.Email</h4>
    </div>
