@model KiranHospitalAppointmentSystem.ViewModels.DoctorPatientViewModel



<table class="w-25 table table-bordered">
<tr>
    <td>Doctor :@Model.Doctor.DoctorName</td>
    <td>Patient :@Model.Patient.PatientName</td>
</tr>
</table>