@model KiranHospitalAppointmentSystem.Models.Patient





<form asp-action=AddNewPatient >

<input placeholder="Enter patient Name"  asp-for=PatientName />
<br/>
<br/>

<input placeholder="Enter patient Email" asp-for=Email/>
<br/>
<br/>

<input placeholder="Enter patient Contact" asp-for=Contact/>
<br/>
<br/>

<input placeholder="Enter patient History" asp-for=PatientHistory/>
<br/>
<br/>

<input type="submit" class="btn btn-secondary"/>

</form>