@model KiranHospitalAppointmentSystem.Models.Patient

<partial name="_PatientPartialView" />

    <div class="card-footer">
      
            <a asp-action="Index" class="btn btn-primary">Back to List</a>

        </p>
    </div>
</div>